		<table>
			<thead>
			<tr class="row_odd">
				<th colspan="5"><h1 style="margin:20px">VIEW the Executive "Enablers" of Innovation</h1></th>
			</tr>
			<tr>
				<th><h2><u>First Name</u></h2></th>
				<th><h2><u>Last Name</u></h2></th>
				<th><h2><u>Job Title</u></h2></th>
				<th><h2><u>Organization</u></h2></th>
				<th><h2><u>Actions</u></h2></th>
			</thead>
			<tbody>
		<% @enablers.each do |enabler| %>
			<tr>
				<td><strong><%= enabler.firstname %></strong>
				</td>
				<td><strong><%= enabler.lastname %></strong>
				</td>
				<td><%= enabler.jobtitle %></strong>
				</td>
				<td><%= enabler.org %></strong>
				</td>
				<td>
				<ul>
						<li><%= link_to 'Details', enabler %></li>
						<li><%= link_to 'Edit', edit_enabler_path(enabler) %></li>
						<li><%= link_to 'Delete', enabler, method: :delete, data: { confirm: 'Are you sure?' } %></li>
					</ul>
				</td>
			</tr>
			<% end %>
			</tbody>
		</table>
