<div class="wrapper_div">
	<div class="center_div">
		<table>
			<thead>
			<tr class="row_odd">
				<th colspan="5"><h2 style="margin:20px">VIEW the "Organizations" enabling Tech Innovation</h2></th>
			</tr>
			<tr class="row_odd">
				<th><h2><u>Org Name</u></h2></th>
				<th><h2><u>Org Type</u></h2></th>
				<th><h2><u>Website</u></h2></th>
				<th><h2><u>Description</u></h2></th>
				<th><h2><u>Actions</u></h2></th>
			</tr>
			</thead>
			<tbody>
		<% @organizations.each do |organization| %>
			<tr>
				<td><strong><%= organization.name %></strong>
				</td>
				<td><strong><%= organization.type %></strong>
				</td>
				<td><%= organization.web_url %></strong>
				</td>
				<td><%= organization.description %></strong>
				</td>
				<td>
					<ul>
						<li><%= link_to 'Details', organization %></li>
						<li><%= link_to 'Edit', edit_organization_path(organization) %></li>
						<li><%= link_to 'Delete', organization, method: :delete, data: { confirm: 'Are you sure?' } %></li>
					</ul>
						</td>

			</tr>
			<% end %>
			</tbody>
		</table>

	</div>
</div>