<div class="wrapper_div">
	<div class="center_div">
		<table>
			<thead>
			<tr class="row_odd">
				<th colspan="4"><h1 style="margin:20px">VIEW the Technology "Organizations" enabling Innovation</h1></th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
		<% @organizations.each do |organization| %>
			<tr>
				<td><strong><%= organization.name %></strong>
				</td>
				<td><strong><%= organization.type %></strong>
				</td>
				<td><%= organization.web_url %></strong>
				</td>
				<td><%= organization.description %></strong>
				</td>
				<td><%= link_to 'Show Org Details', organization %></td> -->
        		<!-- <td><%=# link_to 'Edit', edit_organization_path(organization) %></td>
			</tr>
			<% end %>
			</tbody>
		</table>

	</div>
</div>